<div class="translated">
	<p id="orig_phrase">"<%= @orig_phrase %>"</p>
</div>
<div class="translated">
<p id="jap_phrase">「<%= @jap_phrase %>。」</p>
<p id="say_it_phrase"><em>"<%= @say_it_phrase %>."</em></p>
</div>