/* @override http://localhost:4567/css/transpharm.css */

body {

	color: #115577;
	background-color: #fcf9f7
	font-family: Georgia, "Times New Roman", Times, serif;
}

table {
	background: #eeeeee;
	padding: 5px;
	

}

table td {
border: solid 1px #cccccc;
width: 527px;
height: 50px;

}

#search_bar_td {
	width: 80%;

}

#search_bar {
	border-bottom: 0px;
}

#search_terms {
	width: 100%;
	text-align: center;
	font-size: 1.8em;
}

td.val_container {
	width: 527px;
	color: red;
	text-align: center;
	height: 30px;
}

#radios {
	border-top: 0px;
	border-bottom: 0px;
	margin-top: -10px;
}

#radios td {
color: #780c10;
padding-left: 90px;
}

#submit_and_error {
padding-top: 0px;
margin-top: -10px;
text-align: center;
border-top: 0px;
}

.search_result {
	background: #eeeeee;
	padding: 5px;


}

.search_result table {
	background-color: #fefad2;
	
}

.search_result, .search_results_secondary, .search_result_en, .search_result_ja {
	border: none;


}
.search_result_en, .search_result_ja {
	border: outset 1px #cccccc;
	margin: 0px 5px 0px 5px;
	
	
	
}

.search_result table th {
	width: 20%;
	border: solid 1px #cccccc;
}

.search_result table td {
	padding: 10px;
	line-height: 1.5em;
	text-align: left;
}

#short_results {
	width: 1200px;
	border: solid 1px darkgreen;
	border-top: none;
}

#short_results table {
	text-align: center;
	width: 100%;
}

.short_result_langs {
	width: 100%;
	height: 40px;
	border: none;
	font-size: 1.2em;
	text-decoration: underline;
	border-collapse: collapse;
}
#short_result_lang1 {
	width: 50%;
	border-right: solid 1px darkgreen;
}

#short_result_lang2 {
	width: 50%;
	border-left: solid 1px darkgreen;
}

#short_results_data_table {

	border-top: solid 1px darkgreen;
	border-bottom: solid 1px darkgreen;
	width: 100%;
}

#short_results_data_table th {
	width: 25%;
	text-decoration: underline;
	border-right: solid 1px darkgreen;
}

#short_results_data_table th.no_r_border {
	border-right: none;
}

#short_results_data_table td {
	padding: 5px;
}

.short_result_row tr {
	width: 100%;
	height: 60px;

}

td.short_result_td_en.selected, td.short_result_td_ja.selected {
	background-color: #d3ffd7;
}

.short_result_row th, .short_result_row td {
	width: 25%;
	padding: 5px;
	line-height: 1.5em;
}

/* PhraseBuilder */

#ajax_result {
	margin: 40px;
}

.translated {
	font-size: 2em;
	color: darkred;
	border: solid black 1px;
	padding: 10px;
	width: 1000px;
	margin: 10px auto 10px auto;
}

.hover {
	cursor: pointer;
}

.styled-select {
	margin: 10px;
}

.styled-select select {
	padding: 5px;
	font-size: 14px;
	border: 1px solid #999;
	height: 30px;
}

.styled-select input.phrase_input {
	width: 5em;
}

.styled-select input.autosearch {
	background: url(images/down_arrow_select.jpeg) right no-repeat; 
	height: 33px;
	border: solid 1px #999;
	padding: 5px;
	font-size: 14px;
	width: 200px;
}

.multi_phrases {
	display: none;
	background-color: #fffcd4;
	width: 40%;
	border: solid 1px darkred;
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
}

.multi_phrases ol {
	list-style-position: inside;
	padding: 0px;
	margin: 0px;
}

.multi_phrases ol li {
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border-bottom: 1px solid silver;
}

.multi_jap_phrase {
	font-size: 1.5em;
}

.multi_say_it_phrase {

	font-style: italic;
	color: #aa005b;
}